<nav class="navbar" style="background-color: #0c134c;">

    <label class="logo">College Management System</label>
    <ul>
        <li ><a routerLink="Home">Home</a></li>
        <li><a routerLink="attendance">Attendance</a></li>
        <li><a routerLink="fees">Fees</a></li>
        <li><a routerLink="student-details">Student Info</a></li>
        <li><a routerLink="coursedetails">Course Details</a></li>
        <li><a routerLink="staffdetails">staff Info</a></li>
        <li ><a routerLink="admission" href="#">Admission</a></li>
    </ul>
  </nav> 

