<!-- Button trigger modal -->
<button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Student
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Student Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <form [formGroup]="admissionform">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Student Name</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="studentname" placeholder="Enter name">
                </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Father Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="fathername" placeholder="Enter father name">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Mother Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="mothername" placeholder="Enter mother name">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">DOB</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" formControlName="dob" placeholder="Enter dob">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Address</label>
          <textarea class="form-control" id="exampleFormControlInput1" formControlName="address" placeholder="Enter address"></textarea>
        </div>
        <div class="mb-3">
          <label>Gender</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="gender" id="male" value="male">
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="gender" id="female" value="female">
            <label class="form-check-label" for="female">Female</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="course">Course</label>
          <select class="form-control" id="course" formControlName="course">
            <option value="">Select a course</option>
            <option value="BE">BE</option>
            <option value="BCA">BCA</option>
            <option value="BBA">BBA</option>
            
          </select>
        </div>
        
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="email" placeholder="Enter email">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Mobile Number</label>
          <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="mobilenumber" placeholder="Enter mobilenumber">
        </div>
        
        
  </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
        <button (click)="addtime(this.admissionform.value)" type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>
<div class="container-fluid mt-3">
  <table class="table table-bordered">
      <thead>
        <tr>
          <th class="table-warning" scope="col">Student Name</th>
          <th class="table-warning" scope="col">Father Name</th>
          <th class="table-warning" scope="col">Mother Name</th>
          <th class="table-warning" scope="col">DOB</th>
          <th class="table-warning" scope="col">Address</th>
          <th class="table-warning" scope="col">Gender</th>
          <th class="table-warning" scope="col">Course</th>
          <th class="table-warning" scope="col">Email</th>
          <th class="table-warning" scope="col">Mobile Number</th>
          
          <th class="table-warning" scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{item.studentname}}</td>
          <td>{{item.fathername}}</td>
          <td>{{item.mothername}}</td>
          <td>{{item.dob}}</td>
          <td>{{item.address}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.course}}</td>
          <td>{{item.email}}</td>
          <td>{{item.mobilenumber}}</td>
          

          <td><button routerLink="/update/{{item.id}}" class="btn btn-warning">EDIT</button>&nbsp;
          </td>
        </tr>
      </tbody>
    </table>
</div>
