<div class="homepage">

<img  class="homeimg" [src]="myimage" alt="" style="width: 50%;height:35%; margin-top: 0px; padding-left: 5px;">
<pre class="intro"><h4>Empower your future by joining our institution!</h4>

    In the halls of our institution, where knowledge thrives,
    We ignite the flames of curiosity, as each student strives,
    To embark on a journey of growth and transformation,
    Where dreams are nurtured with unwavering dedication.
    
    At our college, we're more than just bricks and mortar,
    We're a community of learners, united in pursuit of knowledge,
    With faculty and staff who guide with passion and care,
    We create an environment where excellence is always in the air. 
    
    Step into our vibrant campus, where diversity blooms,
    A melting pot of cultures, ideas, and worldviews,
    Embrace the richness of this tapestry we've woven,
    Where minds expand, barriers are broken.!
</pre>
          
</div>